[submodule "bindings/c++/libs/libra"]
	path = bindings/c++/libs/libra
	url = ../../qtex/libra.git
[submodule "libs/meridian_positioning"]
	path = libs/meridian_positioning
	url = ../meridian-positioning.git
